*
!.gitignore

!games/

!games/minimal/
!games/minimal/**

!mods/

!mods/basic-enity-mod/
!mods/basic-enity-mod/**

!mods/grass_biome/
!mods/grass_biome/**

!mods/parkour/
!mods/parkour/**

!mods/grass_decoration/
!mods/grass_decoration/**